.main {
  display: grid;
  grid-template-columns: repeat(auto-fit, 1fr);
  grid-template-rows: repeat(2, auto);
}

.main > div {
  display: flex;
  justify-content: center;
  align-items: center;
  color: darkslategey;
}
